h1 {
    text-align: center;
    margin-top: 0vh;
    color: black;
}

body {
    background-color: white;
}

.navLogo {
    width: 20vh;
    height: 10vh;
}

.togglerButton {
    width: 6vh;
    height: 6vh;
    padding: 0;
}

.toggleSvg {
    width: 4vh;
    height: 4vh;
    margin: 0;
    padding: 0;

}